.card {
  border-radius: 8px;
  box-shadow: 1px 3px 2px #e8e8e8;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  color: #1890ff;
}
.card:hover .project-name-input {
  opacity: 1;
}
.project-name-input {
  opacity: 0;
}
