[nz-form] {
	max-width: 100%;
}

button {
	margin-left: 8px;
}

.list {
	min-height: 60px;
	border-radius: 4px;
	overflow: hidden;
	border: 2px dashed #f0f2f5;
	display: block;
	padding: 10px;
}

.placeholder {
	border-radius: 4px;
	background: rgb(238, 238, 238);
	height: 74px;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dynamic-button {
	cursor: pointer;
	position: relative;
	top: 4px;
	font-size: 24px;
	color: #999;
	transition: all 0.3s;
}

.dynamic-button:hover {
	color: #777;
}

.text-input {
	width: 60%;
	margin-right: 8px;
}