<div
	nz-row
	nzType="flex"
	nzJustify="space-around"
	nzAlign="middle"
	class="collapse-content"
>
	<div nz-col nzSpan="24">
		<div nz-row nzGutter="12" [@listStagger]>
			<!-- Save and Edit Project -->
			<form
				nz-form
				[formGroup]="projectFrom"
				(ngSubmit)="submitForm($event, projectFrom.value)"
			>
				<div
					nz-col
					[nzSpan]="12"
					[nzMd]="12"
					[nzSm]="24"
					[nzXs]="24"
					style="margin-bottom: 10px;"
				>
					<nz-card
						class="card"
						[nzBordered]="false"
						nzTitle="Project Settings"
						[nzExtra]="extraTemplate"
					>
						<nz-form-item>
							<nz-form-label [nzSpan]="5" nzRequired
								>Profile Name</nz-form-label
							>
							<nz-form-control [nzOffset]="0" [nzSpan]="12" nzHasFeedback>
								<input
									nz-input
									formControlName="profile"
									placeholder="Awesome Profile"
								/>
								<nz-form-explain
									*ngIf="
										(projectFrom.get('profile')?.dirty &&
											projectFrom.get('profile')?.errors) ||
										projectFrom.get('profile')?.pending
									"
								>
									<ng-container
										*ngIf="projectFrom.get('profile')?.hasError('required')"
									>
										Please input your Profile Name!
									</ng-container>
									<ng-container
										*ngIf="projectFrom.get('profile')?.hasError('duplicated')"
									>
										This Project name is taken!
									</ng-container>
									<ng-container *ngIf="projectFrom.get('profile')?.pending">
										Validating...
									</ng-container>
								</nz-form-explain>
							</nz-form-control>
						</nz-form-item>
						<nz-form-item>
							<nz-form-label [nzSpan]="5" nzRequired nzFor="title"
								>Project name</nz-form-label
							>
							<nz-form-control [nzOffset]="0" [nzSpan]="12" nzHasFeedback>
								<input
									nz-input
									name="title"
									type="title"
									id="title"
									formControlName="title"
									placeholder="Awesome title"
								/>
								<nz-form-explain
									*ngIf="
										projectFrom.get('title')?.dirty &&
										projectFrom.get('title')?.error
									"
								>
									Please input your Project Name!
								</nz-form-explain>
							</nz-form-control>
						</nz-form-item>
						<nz-form-item>
							<nz-form-control [nzOffset]="0" [nzSpan]="12">
								<button
									nz-button
									nzType="primary"
									[disabled]="!projectFrom.valid"
								>
									Save Project
								</button>
							</nz-form-control>
						</nz-form-item>
					</nz-card>
					<ng-template #extraTemplate> </ng-template>
				</div>
				<div
					nz-col
					[nzSpan]="12"
					[nzMd]="12"
					[nzSm]="24"
					[nzXs]="24"
					style="margin-bottom: 10px;"
				>
					<nz-card
						class="card"
						[nzBordered]="false"
						nzTitle="Data In"
						[nzExtra]="extraTemplate"
					>
						<div formGroupName="componentConfigs">
							<nz-form-item *ngFor="let componentConfig of componentConfigs">
								<nz-form-label [nzSpan]="6" [nzFor]="componentConfig.type">{{
									componentConfig.name
								}}</nz-form-label>
								<nz-form-control [nzOffset]="0" [nzSpan]="12" nzHasFeedback>
									<input
										nz-input
										[name]="componentConfig.type"
										[type]="componentConfig.type"
										[id]="componentConfig.type"
										[formControlName]="componentConfig.type"
										[placeholder]="componentConfig.placeholder"
									/>
									<nz-form-explain
										*ngIf="
											projectFrom.get('componentConfig.type')?.dirty &&
											projectFrom.get('componentConfig.type')?.error
										"
									>
										Please input your {{ componentConfig.name }}!
									</nz-form-explain>
								</nz-form-control>
							</nz-form-item>
							<div formGroupName="httpParams">
								<nz-form-item
									class="box"
									*ngFor="let control of controls; let i = index"
								>
									<nz-form-label [nzSpan]="6">
										{{ control.key }}</nz-form-label
									>
									<nz-form-control
										[nzOffset]="0"
										[nzSpan]="18"
										nzErrorTip="Please input value"
									>
										<input
											class="text-input"
											nz-input
											[value]="control.value"
											placeholder="Field Value"
											[attr.id]="control.key"
											[formControlName]="control.key"
										/>
										<i
											nz-icon
											nzType="minus-circle-o"
											class="dynamic-button"
											(click)="removeField(control, $event)"
										></i>
									</nz-form-control>
								</nz-form-item>
							</div>

							<nz-form-item>
								<nz-form-label [nzSpan]="6">Query string</nz-form-label>
								<nz-form-control [nzOffset]="0" [nzSpan]="18">
									<input
										class="text-input"
										nz-input
										nzType="dashed"
										placeholder="Field Key"
										#fieldKey
									/>
									<i
										nz-icon
										class="dynamic-button"
										nzType="plus-circle-o"
										(click)="addField(fieldKey.value, '')"
									></i>
								</nz-form-control>
							</nz-form-item>
						</div>
					</nz-card>
					<ng-template #extraTemplate> </ng-template>
				</div>
			</form>
			<ng-container *ngIf="selectProject$ | async as selectProject">
				<div
					nz-col
					[nzSpan]="12"
					[nzMd]="12"
					[nzSm]="24"
					[nzXs]="24"
					style="margin-bottom: 10px;"
					[@listStagger]
					*ngIf="selectProject.profile"
				>
					<nz-card class="card" [nzBordered]="false" nzTitle="Delete Project">
						<button
							nz-button
							nzType="danger"
							(click)="emitDeleteProject(selectProject)"
						>
							<i nz-icon nzType="delete"></i>Delete
						</button>
					</nz-card>
				</div>
			</ng-container>
		</div>
	</div>
</div>
