<nz-header>
	<a [routerLink]="'home'">
		<div class="logo">{{ title }}</div>
	</a>
	<ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
		<li nz-menu-item>
			<a [routerLink]="'home/users'"><i nz-icon type="user"></i>Users</a>
		</li>
		<li nz-menu-item>
			<a [routerLink]="'home/posts'"><i nz-icon type="profile"></i>Posts</a>
		</li>
		<li nz-menu-item>
			<a [routerLink]="'home/calendar'"><i nz-icon type="calendar"></i>Calendar</a>
		</li>
		<li nz-menu-item>
			<a [routerLink]="'home/settings'"><i nz-icon type="setting"></i>Settings</a>
		</li>
	</ul>
</nz-header>