<nz-header class="header">
	<div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle">
		<div
			nz-col
			nzSpan="5"
			[nzXs]="{ span: 5, offset: 1 }"
			[nzLg]="{ span: 4, offset: 0 }"
		>
			<a [routerLink]="['home']">
				<div class="logo">
					{{ (configs$ | async).siteName }}
				</div>
			</a>
		</div>
		<div
			nz-col
			nzSpan="4"
			[nzXs]="{ span: 11, offset: 1 }"
			[nzLg]="{ span: 8, offset: 1 }"
		>
			<nz-input-group [nzSuffix]="suffixIconSearch">
				<input type="text" nz-input placeholder="input search text" />
			</nz-input-group>
			<ng-template #suffixIconSearch>
				<i nz-icon type="search"></i>
			</ng-template>
		</div>
		<div
			nz-col
			nzSpan="3"
			[nzXs]="{ span: 5, offset: 0 }"
			[nzLg]="{ span: 5, offset: 0 }"
		>
			<div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
				<div nz-col nzSpan="10" class="hide-small-screen">
					<nz-dropdown>
						<a nz-dropdown> Hover me <i nz-icon type="down"></i> </a>
						<ul nz-menu nzSelectable>
							<li nz-menu-item>
								<a [routerLink]="['home/login']" >Login</a>
							</li>
							<li nz-menu-item>
								<a>2nd menu item</a>
							</li>
							<li nz-menu-item>
								<a>3rd menu item</a>
							</li>
						</ul>
					</nz-dropdown>
				</div>
				<div nz-col nzSpan="2">
					<button
						nz-button
						nzShape="circle"
						[routerLink]="['home/login']"
						routerLinkActive="active"
						class="avatar-button"
					>
						<nz-avatar
							[nzSrc]="(loggedInUser$ | async)?.photoURL"
							[nzText]="(loggedInUser$ | async)?.displayName | slice: 0:1"
						></nz-avatar>
					</button>
				</div>
			</div>
		</div>
	</div>
</nz-header>
