<nz-header class="header">
	<div nz-row nzType="flex" nzJustify="end" nzAlign="end">
		<div nz-col nzSpan="8">
			<p class="height-120">
				<button
					nz-button
					(click)="openSideDrawer()"
					class="toggle-menu"
				>
					<i nz-icon nzType="menu" nzTheme="outline"></i>
				</button>
			</p>
		</div>
		<div nz-col nzSpan="8" style="text-align: center">
			<p class="height-100">
				<a [routerLink]="['home']">
					<div class="logo">
						{{ configs.siteName }}
					</div>
				</a>
			</p>
		</div>
		<div nz-col nzSpan="8" style="text-align: right">
			<p class="height-80">
				<ng-template #accountTemplate>
					<ng-container *ngIf="!loggedInUser.uid; else loggedOut">
						<button  class="loginButtons" nz-button nzShape="circle" (click)="googleLoginClick()">
							<i nz-icon nzType="google" nzTheme="outline"></i>
						</button>
						<button  class="loginButtons" nz-button nzShape="circle" (click)="githubLoginClick()">
							<i nz-icon nzType="github" nzTheme="outline"></i>
						</button>
						<button  class="loginButtons" nz-button nzShape="circle" (click)="facebookLoginClick()" disabled="true">
							<i nz-icon nzType="facebook" nzTheme="outline"></i>
						</button>
					</ng-container>
					<ng-template #loggedOut>
						<button nz-button nzType="link" nzBlock (click)="logoutClick()">
							Logout
						</button>
					</ng-template>
				</ng-template>
				<button
					nz-button
					nzShape="circle"
					[routerLink]="['home/login']"
					routerLinkActive="active"
					class="avatar-button"
					nz-popover
					nzTitle="Account"
					[nzContent]="accountTemplate"
					nzTrigger="hover"
					nzPlacement="bottomRight"
				>
					<nz-avatar
						[nzSrc]="loggedInUser.photoURL"
						[nzText]="loggedInUser.displayName | slice: 0:1"
					>
					</nz-avatar>
				</button>
			</p>
		</div>
	</div>
</nz-header>
