.logo {
	margin-left: 28px;
}
.header {
	background: #fff;
}
.avatar-button {
	width: 34px;
	height: 34px;
}
.toggle-menu {
	border: none;
}

@media only screen and (max-width: 767px) {
	.hide-small-screen {
		display: none;
	}
}
