<mat-toolbar>
  <span>{{ title }}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-raised-button>
    <mat-icon>person</mat-icon>
    <span>{{ config }}</span>
  </button>
  <a mat-button routerLink="/users" routerLinkActive="mat-accent">
    <mat-icon>people</mat-icon>
    <span>Users</span>
  </a>
  <a mat-button routerLink="/posts" routerLinkActive="mat-accent">
    <mat-icon>dashboard</mat-icon>
    <span>Posts</span>
  </a>
</mat-toolbar>
