<div>
	<cdk-virtual-scroll-viewport itemSize="73" class="posts-infinite-container">
		<nz-list>
			<nz-list-item *cdkVirtualFor="let data of dataStore">
				<div nz-row [nzGutter]="8">
					<nz-skeleton
						*ngIf="!data"
						[nzAvatar]="true"
						[nzParagraph]="{ rows: 4 }"
					></nz-skeleton>
					<div
						nz-col
						[nzSpan]="8"
						*ngFor="let rows of data | keyvalue; let i = index"
					>
						<nz-card
							nzType="inner"
							style="margin-top:16px;"
							class="card"
							[nzTitle]="rows.key"
							[nzExtra]="extraTemplate"
							nzBordered="false"
						>
							{{ rows.value }}
						</nz-card>
					</div>
				</div>
			</nz-list-item>
		</nz-list>
	</cdk-virtual-scroll-viewport>
</div>
