.container {
	max-width: 100%;
	margin: 0 25px 25px 0;
	display: inline-block;
	vertical-align: top;
}

.box {
	display: flex;
	color: rgba(0, 0, 0, 0.87);
	cursor: move;
	border-radius: 4px;
	padding: 20px;
	transition: box-shadow 0.2s ease-in-out;
	/* box-shadow: -1px 3px 13px 0px rgba(0, 0, 0, 0.08),
		1px 2px 6px 0px rgba(0, 0, 0, 0.05); */
}

.box:hover {
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.08),
		0px 12px 12px 0px rgba(0, 0, 0, 0.05);
}
.noDragging {
	cursor: default;
	box-shadow: none;
}
.noMargin {
  margin:0px;
}

.noDragging:hover {
	transform: none;
	box-shadow: none;
}

.box-placeholder {
	margin-top: 20px;
	padding: 20px 10px;
	background: white;
	border-radius: 4px;
}

.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.cdk-drag-animating {
	/* transition: transform 150ms cubic-bezier(0, 0, 0.2, 1); */
}
.cdk-drop-dragging .cdk-drag {
	transition: transform 150ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
	border: none;
}

.cdk-drop-list-dragging {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
	height: 100%;
}
.placeholder {
	border-radius: 4px;
	background: rgb(243, 243, 243);
	height: 65px;
	margin: 20px 0;
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.dynamic-button {
	cursor: pointer;
	position: relative;
	top: 4px;
	font-size: 24px;
	color: #999;
	transition: all 0.3s;
}

.dynamic-button:hover {
	color: #777;
}

.form-field {
	width: 80%;
	margin-right: 8px;
}

[nz-form] {
	max-width: 600px;
	padding: 19px;
	margin-bottom: 10px;
}

.add-button {
	width: 60%;
}

.hidden {
	display: none;
}
.submit-button {
	margin-left: 191px;
}

@media only screen and (max-width: 767px) {
	.box {
		flex-direction: column;
	}
	.submit-button {
		margin-left: 10px;
		width: 74%;
	}
}
