<nz-page-header nzTitle="AngularX is coming soon!">
	<nz-page-header-content>
		<div class="wrap">
			<div class="content">
				<div class="content">
					<p>
						Imagine a world where anyone can build scalable web applications, not your typical
						cowboy coded applications, I am talking about responsive, serverless and high tech stuff!
					</p>
					<p>
						That's where this boilerplate comes in. Although, we are still in early stages, but we
						are aiming to finish it up before the end of 2019
					</p>
					<p class="content-link">
						<a href="https://firebase.google.com/">
							<img src="https://seeklogo.com/images/F/firebase-logo-402F407EE0-seeklogo.com.png"
								alt="Firebase" />Firebase
						</a>
						<a href="https://ng.ant.design/docs/introduce/en">
							<img src="https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg"
								alt="Ant Design" />Ant Design
						</a>
						<a href="https://github.com/ngrx/platform">
							<img src="https://avatars0.githubusercontent.com/u/16272733?s=200&v=4" alt="Ngrx" />Ngrx
						</a>
					</p>
				</div>
			</div>
			<div class="extra-content">
				<img src="https://gw.alipayobjects.com/mdn/mpaas_user/afts/img/A*KsfVQbuLRlYAAAAAAAAAAABjAQAAAQ/original"
					alt="content" style="width:100%"/>
			</div>
		</div>
	</nz-page-header-content>
</nz-page-header>
<br>
<nz-timeline nzMode="alternate">
	<nz-timeline-item>Projected started on June 2019</nz-timeline-item>
	<nz-timeline-item nzColor="green">Ant Design and ngrx integrations</nz-timeline-item>
	<nz-timeline-item [nzDot]="dotTemplate">Firebase Integrations</nz-timeline-item>
	<nz-timeline-item>Develope high level framework</nz-timeline-item>
	<nz-timeline-item [nzDot]="dotTemplate">Final Release end of 2019</nz-timeline-item>
</nz-timeline>
<ng-template #dotTemplate>
	<i nz-icon type="clock-circle-o" style="font-size: 16px;"></i>
</ng-template>
