nz-page-header {
	border: 1px solid rgb(235, 237, 240);
}

.wrap {
	display: flex;
}

.content {
	flex: 1;
}

.content p {
	margin-bottom: 8px;
}

.content-link {
	padding-top: 16px;
}

.content-link a {
	display: inline-block;
	vertical-align: text-top;
	margin-right: 32px;
}

.content-link {
	text-align: center;
}

.content-link a img {
	width: 120px;
}

.extra-content {
	min-width: 240px;
	text-align: right;
}

.custom-font {
	font-family: "Montserrat", sans-serif;
}

.big-text {
	color: #0056ed;
	font-size: 3em;
}

.center {
	text-align: center;
}
.card {
	border-radius: 8px;
	background: white;
	box-shadow: 0px 0px 51px 0px rgba(0, 0, 0, 0.08),
		0px 6px 18px 0px rgba(0, 0, 0, 0.05);
	transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	transform: translateY(0px);
}
.card:hover {
	cursor: pointer;
	box-shadow: 0px 0px 114px 0px rgba(0, 0, 0, 0.08),
		0px 30px 25px 0px rgba(0, 0, 0, 0.05);
	transform: translateY(-5px);
	color: #1890ff;
}
.card:hover .project-name-input {
	opacity: 1;
}
.project-name-input {
	opacity: 0;
}

@media only screen and (max-width: 767px) {
	.big-text {
		font-size: 2em;
	}
	.content-link a img {
		width: 60px;
	}
}
