<ul nz-menu [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed" class="side-menu">
	<li nz-submenu  [routerLinkActive]="['active']">
		<span title><i nz-icon type="user"></i> Users</span>
		<ul>
			<li nz-menu-group>
				<span title>Users</span>
				<ul>
					<li nz-menu-item>
						<a [routerLink]="['home/users']"><i nz-icon type="user"></i>Users</a>
					</li>
					<li nz-menu-item>
						<a [routerLink]="['home/add-user']"><i nz-icon type="user-add"></i>Add User</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li nz-submenu>
		<span title><i nz-icon type="appstore"></i> Posts</span>
		<ul>
			<li nz-menu-item>
				<a [routerLink]="['home/posts']"><i nz-icon type="interaction"></i>Latest Activities</a>
			</li>
		</ul>
	</li>
	<li nz-submenu>
		<span title><i nz-icon type="tool"></i> Tools</span>
		<ul>
			<li nz-menu-item>
				<a [routerLink]="['home/calendar']"><i nz-icon type="calendar"></i>Calendar</a>
			</li>
			<li nz-menu-item>
				<a [routerLink]="['home/settings']"><i nz-icon type="setting"></i>Settings</a>
			</li>
			<li nz-submenu>
				<span title>Coming Soon</span>
				<ul>
					<li nz-menu-item>Option 7</li>
					<li nz-menu-item>Option 8</li>
					<li nz-submenu>
						<span title>Submenu</span>
						<ul>
							<li nz-menu-item>Option 9</li>
							<li nz-menu-item>Option 10</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>
	<li nz-submenu>
		<span title><i nz-icon type="profile"></i> Account</span>
		<ul>
			<li nz-menu-item>
				<a [routerLink]="['home/login']"><i nz-icon type="login"></i>login</a>
			</li>
		</ul>
	</li>
</ul>