<nz-alert
	nzType="warning"
	nzMessage="This component is under development, limited functionality is still available"
	nzShowIcon
></nz-alert>

<form
	nz-form
	[formGroup]="projectFrom"
	(ngSubmit)="submitForm($event, projectFrom.value)"
	cdkDropList
	#libraryComponentsList="cdkDropList"
	[cdkDropListData]="controls"
	class="list"
	(cdkDropListDropped)="drop($event)"
	id="controls"
>
	<nz-form-item
    class="box"
    [class.noDragging]="this.isProjectOwner"
		*ngFor="let control of controls; let i = index"
    cdkDrag
    [cdkDragDisabled]="this.isProjectOwner"
	>
		<nz-form-label [nzSpan]="8" [nzNoColon]="true"> {{ control.key }}</nz-form-label>
		<nz-form-control
			[nzOffset]="0"
			[nzSpan]="16"
			nzErrorTip="Please input value"
		>
			<input
				class="form-field"
				nz-input
				[value]="control.value"
				placeholder="Field Value"
				[attr.id]="control.key"
				[formControlName]="control.key"
			/>
			<i
				nz-icon
				nzType="minus-circle-o"
				class="dynamic-button"
        (click)="removeField(control, $event)"
        [class.hidden]="isProjectOwner"
			></i>
		</nz-form-control>
		<div class="placeholder box" *cdkDragPlaceholder [@fadeInOut]></div>
	</nz-form-item>
	<nz-form-item class="box-placeholder" [class.hidden]="this.isProjectOwner">
		<nz-form-label [nzSpan]="8" [nzNoColon]="true">Add New Field</nz-form-label>
		<nz-form-control [nzOffset]="0" [nzSpan]="16">
			<input
				class="form-field"
				nz-input
				nzType="dashed"
				placeholder="Field Key"
				#fieldKey
			/>
			<i
				nz-icon
				class="dynamic-button"
				nzType="plus-circle-o"
				(click)="addField(fieldKey.value, '')"
			></i>
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-control [nzOffset]="3" [nzSpan]="18">
			<button nz-button nzType="primary">Submit</button>
		</nz-form-control>
	</nz-form-item>
</form>

<!-- Finish Here -->
<!-- https://medium.com/@krishnaregmi/how-to-create-dynamic-forms-in-angular-7-using-formcontrol-a443a2c5e3a9 -->
