<nz-layout class="inner-layout">
	<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'md'" [nzCollapsedWidth]="0"
		[nzZeroTrigger]="zeroTrigger" [nzTrigger]="nonZeroTrigger" class="sidebar">
		<app-side-menu></app-side-menu>
	</nz-sider>
	<app-header [configs$]="configs$" [loggedInUser$]="loggedInUser$"></app-header>
	<nz-content class="content">
		<nz-breadcrumb nzAutoGenerate="true" style="margin:16px 0;">
		</nz-breadcrumb>
		<div style="background:#fff; padding: 24px; min-height: 280px;" >
			<div class="container app-container" >
				<router-outlet></router-outlet>
			</div>
		</div>
		<app-footer [configs$]="configs$"></app-footer>
	</nz-content>
</nz-layout>

<ng-template #zeroTrigger>
	<i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>
<ng-template #nonZeroTrigger>
	<i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>