<nz-layout class="layout">
	<nz-header class="header">
		<a routerLink="home/">
			<div class="logo">
				{{ title }}
			</div>
		</a>
	</nz-header>
	<nz-layout class="inner-layout">
		<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'md'" [nzCollapsedWidth]="0"
			[nzZeroTrigger]="zeroTrigger" [nzTrigger]="nonZeroTrigger" class="sidebar">
			<app-side-menu></app-side-menu>
		</nz-sider>
		<nz-content class="content">
			<nz-breadcrumb nzAutoGenerate="true" style="margin:16px 0;">
				<nz-breadcrumb-item>
					<a routerLink="['../../']">Home</a>
				</nz-breadcrumb-item>
			</nz-breadcrumb>
			<div style="background:#fff; padding: 24px; min-height: 280px;">
				<div class="container app-container">
					<router-outlet></router-outlet>
				</div>
			</div>
			<nz-footer style="text-align: center;">{{ copyright }}</nz-footer>
		</nz-content>		
	</nz-layout>
</nz-layout>
<ng-template #zeroTrigger>
	<i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>
<ng-template #nonZeroTrigger>
	<i nz-icon type="menu-fold" theme="outline"></i>
</ng-template>