.layout {
	height: 100%;
}
.inner-layout {
	margin-top: 64px;
}

.content {
	padding: 0 50px;
	margin-left: 200px;
}
.sidebar {
	position: fixed;
	z-index: 1;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.hide-small-screen {
		display: none;
	}
	.content {
		margin-left: 0px;
		padding: 0px;
	}
	.sidebar {
		position: relative;
	}
}
