<nz-layout class="inner-layout">
	<app-header
		[configs]="configs$ | async"
		[loggedInUser]="loggedInUser$ | async"
		(openDrawer)="openDrawer()"
		(googleLogin)="googleLogin()"
		(githubLogin)="githubLogin()"
		(facebookLogin)="facebookLogin()"
		(logout)="logout()"
	></app-header>
	<app-side-menu
		[configs]="configs$"
		(closeDrawer)="closeDrawer()"
	></app-side-menu>
	<nz-content class="content">
		<nz-breadcrumb nzAutoGenerate="true" style="margin:16px 0;">
		</nz-breadcrumb>
		<router-outlet></router-outlet>
	</nz-content>
	<app-footer [configs]="configs$ | async"></app-footer>
</nz-layout>
