<nz-table #basicTable [nzData]="users">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Card Number</th>
			<th>Card Type</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of basicTable.data" (click)="navigateToUser(user.id)">
			<td>{{ user.id }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.cardNumber }}</td>
			<td>{{ user.cardType }}</td>
			<td>
				<a>Action 一 {{ user.name }}</a>
				<nz-divider nzType="vertical"></nz-divider>
				<a>Delete</a>
			</td>
		</tr>
	</tbody>
</nz-table>
