<nz-table #basicTable *ngIf="users" [nzData]="users">
	<thead>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Profile</th>
			<th>City</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody [@listStagger]="users.length">
		<tr *ngFor="let user of basicTable.data"></tr>
		<tr
			*ngFor="let user of basicTable.data"
			(click)="navigateToUser(user.name)"
		>
			<td><nz-avatar nzIcon="user" nzSrc="{{ user.photoURL }}"></nz-avatar></td>
			<td>{{ user.displayName }}</td>
			<td>{{ user.profile }}</td>
			<td>{{ user.city }}</td>
			<td>
				<i
					nz-icon
					nzType="edit"
					nzTheme="outline"
					(click)="navigateToUser(user.id)"
				></i>
				<nz-divider nzType="vertical"></nz-divider>
				<i
					nz-icon
					nzType="more"
					nzTheme="outline"
					(click)="navigateToUser(user.id)"
				></i>
			</td>
		</tr>
	</tbody>
</nz-table>

<nz-spin nzTip="Loading..." *ngIf="loading">
	<nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
	<nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
	<nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
	<nz-skeleton [nzAvatar]="true" [nzParagraph]="{ rows: 4 }"></nz-skeleton>
</nz-spin>
