<nz-table #basicTable *ngIf="users" [nzData]="users">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Card Number</th>
			<th>Card Type</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of basicTable.data"></tr>
		<tr *ngFor="let user of basicTable.data" (click)="navigateToUser(user.id)">
			<td>{{ user.id }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.cardNumber }}</td>
			<td>{{ user.cardType }}</td>
			<td>
				<i
					nz-icon
					nzType="edit"
					nzTheme="outline"
					(click)="navigateToUser(user.id)"
				></i>
				<nz-divider nzType="vertical"></nz-divider>
				<i
					nz-icon
					nzType="more"
					nzTheme="outline"
					(click)="navigateToUser(user.id)"
				></i>
			</td>
		</tr>
	</tbody>
</nz-table>
