<div *ngIf="user$ | async as user" [@listStagger]="user.length">
	<div nz-row>
		<div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
			<button nz-button nzType="primary" *ngIf="user.uid" (click)="logout()">
				Logout
			</button>
		</div>
	</div>
	<div nz-row>
		<div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="12" nzXl="12">
			<h1>Login In</h1>
			<login-form (formData)="emailLogin($event)"></login-form>
		</div>
		<div nz-col nzXs="12" nzSm="12" nzMd="10" nzLg="12" nzXl="12">
			<h1>Social Login In</h1>
			<ul>
				<li>
					<google-login
						[user]="user"
						(logoutEvent)="logout()"
						(googleLoginEvent)="googleLogin()"
					></google-login>
				</li>
				<li>
					<github-login
						[user]="user"
						(logoutEvent)="logout()"
						(githubLoginEvent)="githubLogin()"
					></github-login>
				</li>
				<li>
					<facebook-login
						[user]="user"
						(logoutEvent)="logout()"
						(facebookLoginEvent)="facebookLogin()"
					></facebook-login>
				</li>
			</ul>
		</div>
	</div>
</div>
