<form
	nz-form
	[formGroup]="validateForm"
	(ngSubmit)="submitForm($event, validateForm.value)"
>
	<nz-form-item>
		<nz-form-label [nzSpan]="7" nzRequired>Project Name</nz-form-label>
		<nz-form-control [nzSpan]="12" nzHasFeedback>
			<input
				nz-input
				formControlName="projectName"
				placeholder="New Project"
			/>
			<nz-form-explain
				*ngIf="
					(validateForm.get('projectName')?.dirty &&
						validateForm.get('projectName')?.errors) ||
					validateForm.get('projectName')?.pending
				"
			>
				<ng-container
					*ngIf="validateForm.get('projectName')?.hasError('required')"
				>
					Please input your Project Name!
				</ng-container>
				<ng-container
					*ngIf="validateForm.get('projectName')?.hasError('duplicated')"
				>
					The Project name is redundant!
				</ng-container>
				<ng-container *ngIf="validateForm.get('projectName')?.pending">
					Validating...
				</ng-container>
			</nz-form-explain>
		</nz-form-control>
	</nz-form-item>
	<nz-form-item>
		<nz-form-control [nzOffset]="7" [nzSpan]="12">
			<button nz-button nzType="primary" [disabled]="!validateForm.valid">
				Submit
			</button>
		</nz-form-control>
	</nz-form-item>
</form>
