<nz-tabset [nzType]="line" [@listStagger]="" class="card">
	<!-- Selected Project -->
	<div *ngIf="selectedProject$ | async as selectedProject">
		<nz-tab [nzTitle]="selectedProject.title">
			<ng-template nz-tab style="padding: 24px;">
				<ng-container add-comp [comp]="components[selectedProject['type']]"
					[selectedProject]="selectedProject$"></ng-container>
			</ng-template>
		</nz-tab>
		<!-- Save Selected Project -->
		<nz-tab nzTitle="Save Project">
			<ng-template nz-tab>
				<app-edit-project (formData)="saveFormData($event)" [selectedProject]="selectedProject"
					[selectLoggedInUser]="selectLoggedInUser$ | async">
				</app-edit-project>
			</ng-template>
		</nz-tab>
		<nz-tab nzTitle="Delete Project">
			<ng-template nz-tab>
				<app-delete-project (deleteProject)="deleteProject($event)" [selectedProject]="selectedProject">
				</app-delete-project>
			</ng-template>
		</nz-tab>
	</div>
	<!-- New Project -->
	<div *ngIf="newProject$ | async as newProject">
		<nz-tab [nzTitle]="newProject['type']">
			<ng-template nz-tab style="padding: 24px;">
				<ng-container add-comp [comp]="components[newProject['type']]" [selectedProject]="selectedProject$">
				</ng-container>
			</ng-template>
		</nz-tab>
		<!-- Save New Project -->
		<nz-tab nzTitle="Save Project">
			<ng-template nz-tab>
				<app-edit-project (formData)="saveFormData($event)" [selectedProject]="selectLoggedInUser$ | async">
				</app-edit-project>
			</ng-template>
		</nz-tab>
	</div>
	<!-- Loading Tab -->
	<div *ngIf="!(selectedProject$ | async) && !(newProject$ | async)">
		<nz-tab>
			<ng-template nz-tab>
				<div class="loading-template">
					<nz-spin nzSimple nzTip="Loading..."></nz-spin>
				</div>
			</ng-template>
		</nz-tab>
	</div>
</nz-tabset>