<nz-tabset [nzType]="line" [@listStagger]="" class="card">
	<!-- Selected Project -->
	<div *ngIf="selectedProject$ | async as selectedProject; else saveProject">
		<nz-tab [nzTitle]="selectedProject.title">
			<ng-template nz-tab style="padding: 24px;">
				<ng-container
					add-comp
					[comp]="components[selectedProject['type']]"
					[selectedProject]="selectedProject$"
				></ng-container>
			</ng-template>
		</nz-tab>
		<!-- Save Project -->
		<nz-tab nzTitle="Save Project">
			<ng-template nz-tab>
				<app-edit-project
					(formData)="saveFormData($event)"
					[selectedProject]="selectedProject"
					[selectLoggedInUser]="selectLoggedInUser$ | async"
				>
				</app-edit-project>
			</ng-template>
		</nz-tab>
	</div>
	<!-- New Project -->
	<div *ngIf="newProject$ | async as newProject; else saveProject">
		<nz-tab [nzTitle]="newProject['type']">
			<ng-template nz-tab style="padding: 24px;">
				<ng-container
					add-comp
					[comp]="components[newProject['type']]"
					[selectedProject]="selectedProject$"
				></ng-container>
			</ng-template>
		</nz-tab>
		<!-- Save Project -->
		<nz-tab nzTitle="Save Project">
			<ng-template nz-tab>
				<app-edit-project
					(formData)="saveFormData($event)"
					[selectedProject]="selectedProject$"
					[selectLoggedInUser]="selectLoggedInUser$ | async"
				>
				</app-edit-project>
			</ng-template>
		</nz-tab>
	</div>
</nz-tabset>
