<div nz-row nzType="flex" nzJustify="space-between" nzAlign="middle" [nzGutter]="12">
	<div nz-col nzSpan="24">
		<h1 class="h1-header">
			Welcome to AngularX
		</h1>
	</div>
</div>
<div *ngIf="user$ | async; let user;" [@listStagger]>
	<div nz-row [nzGutter]="12">
		<div nz-col nzXs="12" nzSm="12" nzMd="12" nzLg="12" nzXl="12">
			<button nz-button nzType="primary" *ngIf="user.uid" (click)="logout()">
				Logout
			</button>
		</div>
	</div>
</div>
<div *ngIf="!(user$ | async).uid">
	<div nz-row [nzGutter]="12">
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
			<nz-card class="card" [nzBordered]="false">
				<nz-tabset>
					<nz-tab nzTitle="Login">
						<login-form (formData)="emailLogin($event)"></login-form>
					</nz-tab>
					<nz-tab nzTitle="Register">
						<app-register (formData)="register($event)"></app-register>
					</nz-tab>
				</nz-tabset>
			</nz-card>
		</div>
		<div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
			<nz-card class="card" [nzBordered]="false" [nzTitle]="'Social Login In'">
				<ul>
					<li>
						<google-login (logoutEvent)="logout()" (googleLoginEvent)="googleLogin()">
						</google-login>
					</li>
					<li>
						<github-login (logoutEvent)="logout()" (githubLoginEvent)="githubLogin()">
						</github-login>
					</li>
					<li>
						<facebook-login (logoutEvent)="logout()" (facebookLoginEvent)="facebookLogin()">
						</facebook-login>
					</li>
				</ul>
			</nz-card>
		</div>
	</div>
</div>